.aboutSection {
  padding-block: 4rem;
}

.badge {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.375rem 1rem;
  border-radius: 9999px;
  /* background-color: rgba(210 20% 20% 50%); */
  transform: translateX(100px);
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}

.badge[data-visible='true'] {
  transform: translateX(0);
  opacity: 1;
}

.quoteBox {
  padding: 1rem;
  margin: 1.5rem 0;
}

.profileImage {
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid rgba(var(--primary), 0.3);
  box-shadow: 0 4px 6px -1px rgba(var(--primary), 0.5);
  width: fit-content;
  margin-left: auto;
}
